{% extends "base.html" %} 

{% block title %} 
    Index 
{% endblock %} 

{% block head%} 
    {{ super() }} 
{% endblock %} 
{% block content %}
    <form action="http://localhost:5000/" method="post" id="search-form">
        <label>Search Pokemon:</label>
        <input id="pokemon-search" type="search" name="pokemon" />
        <input id="submit-button" type="submit" value="submit" />
    </form>
{% if message: %}
    <p class="message">{{ message }}</p>
{% endif %} 
{% if pokemon: %}
    <div class="pokemon-details">
        <div class="pokemon-stats-picture">
            {% if image: %}
                <img id="pokemon-image" src="{{ image }}" alt="pokemon" />
            {% endif %}
            <div class="quick-facts">
            <h1 id="pokemonName">{{ pokemon.name.title() }}</h1>
            <p id="pokemonHp">HP: {{ pokemon.base_stats.hp }}</p>
            <p id="pokemonHeight">Height: {{ pokemon.height / 10 }} meters</p>
            <p id="pokemonWeight">Weight: {{ pokemon.weight }} kgs</p>
        </div>
    </div>
    <button id="add">Add to Favorites</button>

    <div class="type-list">
        <h2>Type(s)</h2>
        <ul>
            {% for type in pokemon.types: %}
                <li class="type">{{ type.title() }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% else %}
    <div class="banner">
        <p>Try these:</p>
        <br />
        <ul>
            <p>Charmander</p>
            <p>Squirtle</p>
            <p>Bulbasaur</p>
            <p>Pikachu</p>
        </ul>
    </div>
    <!-- favorites -->
    <div class="banner">
        <h2>Favorites</h2>
        <ul id="favorites">
            {% for pokemon in favorites: %}
                <li class="pokemon-name">{{ pokemon.name.title() }}</li>
            {% endfor %}
        </ul>
{% endif %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
